Repository boostcampwm-2022/web11-BOOSTPRESS, pull requests merged in 2022-11, with the labels that each got.

#7 Feature/3 메인페이지 퍼블리싱
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/svg/GithubIcon.svg
  frontend/src/assets/svg/MagnifyingGlass.svg
  frontend/src/assets/svg/User.svg
  frontend/src/assets/svg/home.svg
  frontend/src/assets/svg/pencil.svg
  frontend/src/assets/svg/setting.svg
  frontend/src/components/Header.tsx
  frontend/src/components/PostCard.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/pages/Main.tsx
  frontend/src/styles/color.ts
  frontend/src/styles/common.ts
  frontend/src/styles/reset.css
  frontend/src/utils/utils.ts
  frontend/tsconfig.json
Labels: frontend

#12 블로그 페이지 좌측 사이드바 퍼블리싱
  frontend/src/App.tsx
  frontend/src/api/api.ts
  frontend/src/api/apiTypes.ts
  frontend/src/assets/svg/ChevronUp.svg
  frontend/src/assets/svg/github.svg
  frontend/src/assets/svg/linkedin.svg
  frontend/src/assets/svg/mail.svg
  frontend/src/assets/svg/menu.svg
  frontend/src/assets/svg/minus.svg
  frontend/src/assets/svg/plus.svg
  frontend/src/assets/svg/twitter.svg
  frontend/src/components/PostCard.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/Sidebar/CategoryButton.tsx
  frontend/src/components/Sidebar/Collapsible.tsx
  frontend/src/index.css
  frontend/src/pages/BlogMain.tsx
  frontend/src/styles/common.ts
  frontend/src/styles/reset.css
  frontend/tsconfig.json
Labels: frontend

#14 Feature/11 로그인 된 사용자에게 cookie 추가
  backend/package-lock.json
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/decorator/CurrentUser.decorator.ts
  backend/src/decorator/index.ts
  backend/src/guard/index.ts
  backend/src/guard/jwt.guard.ts
  backend/src/main.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/strategy/index.ts
  backend/src/modules/auth/strategy/jwt.strategy.ts
  backend/src/modules/auth/token.service.ts
  backend/src/types/Auth.ts
  backend/src/types/index.ts
Labels: enhancement, backend

#18 Feature/15 swagger를 이용한 api 명세 페이지 생성
  backend/package-lock.json
  backend/package.json
  backend/src/main.ts
  backend/src/modules/app.module.ts
  backend/src/modules/article/article.controller.ts
  backend/src/modules/article/article.module.ts
  backend/src/modules/article/article.service.ts
  backend/src/modules/article/dto/PostArticle.dto.ts
  backend/src/modules/article/dto/index.ts
  backend/src/modules/article/swagger/index.ts
  backend/src/modules/article/swagger/write.swagger.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/dto/LoginResponse.dto.ts
  backend/src/modules/auth/dto/index.ts
  backend/src/modules/auth/strategy/jwt.strategy.ts
  backend/src/modules/auth/swagger/github.swagger.ts
  backend/src/modules/auth/swagger/index.ts
  backend/src/modules/auth/swagger/logout.swagger.ts
  backend/src/modules/auth/swagger/me.swagger.ts
  backend/src/modules/blog/blog.module.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.module.ts
  backend/src/types/ExceptionResponse.ts
  backend/src/types/index.ts
Labels: enhancement, backend

#31 Feature/21 featuredpost 컴포넌트 수정 요청
  frontend/src/components/PostGrid.tsx
  frontend/src/pages/BlogMain.tsx
  frontend/src/pages/Main.tsx
Labels: frontend

#37 Feature/17 글쓰기 페이지 mdx작업
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/NewPost/NewPostBody.tsx
  frontend/src/components/PostCard.tsx
  frontend/src/editor/MdxEditor.tsx
  frontend/src/editor/editor.ts
  frontend/src/editor/guideLine.ts
  frontend/src/editor/mdxComponent.ts
  frontend/src/editor/toolbar.ts
  frontend/src/index.tsx
  frontend/src/pages/NewPost.tsx
  frontend/src/styles/color.ts
  frontend/src/styles/common.ts
  frontend/src/styles/editor.css
  frontend/src/styles/reset.css
  frontend/src/utils/utils.ts
  frontend/tsconfig.json
Labels: frontend

#41 35 테스트용 서버 계정을 배포용 서버 계정으로 변경
  backend/prisma/schema.prisma
  backend/src/modules/article/article.controller.ts
  backend/src/modules/article/article.service.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/test/index.ts
  backend/src/modules/auth/token.service.ts
  backend/src/modules/prisma/prisma.service.ts
  backend/src/types/Env.ts
  backend/src/types/index.ts
Labels: bug
